.btn {
  @apply relative 
  px-8 py-3 border-0 rounded-md
  bg-gray-100
  cursor-pointer shadow-md overflow-hidden;
}

.btn span {
  position: relative;
  z-index: 2;
  color: rgb(56, 56, 56);
  font-size: 24px;
  transition: color 0.2s;
}

.btn::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  background-color: rgba(59, 130, 246, 0.5);
  transition: transform 0.25s ease-in-out;
}

.btn:hover::before {
  transform: translateX(100%);
}

.btn::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  background-color: rgba(59, 130, 246, 0.5);
  transition: transform 0.25s ease-in-out;
}

.btn:hover::after {
  transform: translateX(-100%);
}

.btn:hover span {
  color: white;
}
