.container {
  @apply w-full md:w-80 p-4 md:p-5 pb-0 pr-2;
}

.container h1 {
  @apply mb-4
  text-3xl leading-9 font-bold 
 text-indigo-400;
}

.menu_btn {
  @apply absolute top-3 right-3
  md:hidden flex flex-col justify-between w-12 h-12 p-3 rounded-lg
 bg-purple-400 
  cursor-pointer;
}

.line {
  @apply w-full h-1
  rounded-sm 
 bg-white;
}

.l_wrapper {
  @apply absolute md:static top-0 left-0 z-20
  hidden md:block w-9/12 md:w-full md:pr-1 pb-3 md:pb-0 pl-1 md:pl-0 rounded-lg rounded-t-none 
  bg-white
  shadow-md md:shadow-none overflow-y-auto;
  max-height: 80vh;
}

.backdrop {
  @apply absolute top-0 left-0 z-10
  hidden w-full h-screen
  bg-black bg-opacity-60;
}

.active {
  @apply block;
}

.l_wrapper::-webkit-scrollbar {
  width: 6px;
  height: 5px;
  background-color: white;
}

.l_wrapper::-webkit-scrollbar-thumb {
  @apply p-4 rounded-xl
 bg-green-300;
}

@media (min-width: 768px) {
  .l_wrapper {
    max-height: 88%;
  }
}
