.spinner {
  width: 42px;
  height: 42px;
  border: 2px solid rgb(241, 241, 241);
  border-top: 2px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
